<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/dummy.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        /* body{
            margin-left: 200px;
            margin-right: 200px;
        } */
        
        p{
            font-size: 30px;
        }
    </style>
</head>
<body>
 <h1 class="hh1 text-center fs-1"> CBSE Class 2 Syllabus for 2023-24 Exam – All Subjects Overview</h1>
    <div class="para mt-5 ms-5 me-5">
        <p class="para ml-5">After Class 1, Class 2 is the second most crucial grade where students start using and questioning their minds. The acceleration happens on a second level. A prestigious educational body, CBSE has made sure to formulate a syllabus that brings growth, development, interest, fun, and joy to the second graders.</p>
     
    <p class="para ml-5">The core subjects that form the base of class 2 are- English, Mathematics and Hindi. Other subjects include Environmental Studies, General Knowledge, Drawing. The NCERT books are filled with chapters that make young minds think and explore the world of facts and imagination.</p>

    <p>In this article, we will have a quick overview of the CBSE class 2 syllabus here below:</p>
    <p class="mt-4 eng"><b>English:</b> The NCERT books that are followed by every school affiliated with CBSE provide the latest English syllabus for class 2, sectioned under two books: Marigold and Raindrops. The two textbooks consist of creative stories and poems that enthral the children when learning. The books are made attractive by adding beautiful pictures, and there are fun activities in-between that aim to keep the students engaged with learning</p>
    <p class="fs-3">There are ten units in the book Marigold and fifteen chapters in the supplementary book Raindrops, both of which ensure effective learning. The grammar portion includes nouns, pronouns, adjectives, conjunction, preposition, tenses, etc.</p>

    <p class="mt-4 math"><b>Mathematics:</b> It is that subject that requires a lot of practise. CBSE, being the biggest national educational board, has ensured to effectively get the students to practise mathematics questions through its comprehensive syllabus. The most fun-loving aspect of the Mathematics syllabus provided by CBSE is the NCERTbook and its chapters.</p>
    <p>The name of the chapters has been creatively formed so as to invoke the interest and curiosity of the second graders. The syllabus consists of easy formulae, concepts of measurement, shapes, counting, and pattern. Addition and subtraction have been levelled up. The introduction of multiplication and division has been also added to the Mathematics syllabus of class 2.</p>

    <p class="mt-4 hind"><b>Hindi:</b> The Hindi syllabus of class 2 provided by the CBSE board includes 15 chapters that comprise poetry and stories that are both exciting and valuable. The syllabus has been designed to teach the Hindi language, but the chapters also consist of moral values that help the students become more aware. The motto of the CBSE board is to make learning easy no matter what the subject is and CBSE has been rightfully proving it as well.</p>
    <p>The other subjects, such as Environmental Studies, include chapters that develop the students’ understanding of nature, humans, surroundings, and culture. The worksheet provided increases the power of exploring and helps in becoming self-aware. Some of the chapters deal with good habits, the invention of the wheel, different types of clothes, time, means of transport, family, etc.</p>
      <br><br><br>
      <h2 class="text-center"><b>2nd Class Syllabus – Recommended books</b></h2>
      <p>The updated syllabus provided by CBSE facilitates learning, especially self-learning. The books take the children on adventures with lots of fun-loving and mind-blowing activities. CBSE follows the NCERT textbooks strictly, designed to help build a brighter future. The recommended books for English, Mathematics and Hindi are:</p>
      <ul class="mt-4 fs-3">
        <li>English Book 1: Marigold</li>
        <li>English Book 2: RainDrops</li>
        <li> Mathematics Book (English Medium): Math-Magic
        </li>
        <li>Mathematics Book (Hindi Medium): गणित का जादू
        </li>
        <li>Hindi Book: Rimjhim
        </li>
      </ul>
      #detaild syllabus
      <h3><p>CBSE Class 2 Syllabus – English</p></h3>
      <div class="fs-2 ms-5">
        <ul ><b>Unit 1:</b>
            <li >First Day at School</li>
            <li>Haldi’s Adventure</li>
        </ul>
        <ul >
            <b>Unit 2:</b>
            <li >I am Lucky!</li>
            <li>I Want</li>
        </ul>
        <ul >
            <b>Unit 3:</b>
            <li >A Smile</li>
            <li>The Wind and the Sun</li>
        </ul>
        <ul >
            <b>Unit 4:</b>
            <li>Rain</li>
            <li>Storm in the Garden</li>
        </ul>
        <ul >
            <b>Unit 5:</b>
            <li>Zoo Manners</li>
            <li>Funny Bunny</li>
        </ul>
        <ul >
            <b>Unit 6:</b>
            <li>Mr. Nobody</li>
            <li> Curlylocks and the Three Bears</li>
        </ul >
        <ul>
            <b>Unit 7:</b>
            <li>On My Blackboard I can Draw</li>
            <li>  Make it Shorter</li>
        </ul>        
      </div>
      <h3><p>CBSE Class 2 Syllabus – Mathematics</p></h3>
      <div class="fs-4 ms-5">
            <p><b>Chapter 1:</b> What is Long, What is Round?</p>
            <p><b>Chapter 2:</b> Counting in Groups</p>
            <p><b>Chapter 3:</b> How Much Can You Carry</p>
            <p><b>Chapter 4:</b>  Counting in Tens</p>
            <p><b>Chapter 5:</b> Patterns</p>
            <p><b>Chapter 6:</b> Footprints</p>
            <p><b>Chapter 7:</b> Jugs and Mugs</p>
            <p><b>Chapter 8:</b> Tens and Ones</p>
            <p><b>Chapter 9:</b> My Funday</p>
            <p><b>Chapter 10:</b> Add our Points</p>
            <p><b>Chapter 11:</b> Lines and Lines</p>
            <p><b>Chapter 12:</b> Give and Take</p>
        </div>
        <h3><p>CBSE Class 2 Syllabus – Hindi</p></h3>
        <div class="fs-4 ms-5 mt-4">
            <p><b>Chapter 1:</b> ऊँट चला</p>
            <p><b>Chapter 2:</b> भालू ने खेली फुटबॉल</p>
            <p><b>Chapter 3:</b>  म्याऊँ, म्याऊँ !!</p>
            <p><b>Chapter 4:</b>   अधिक बलवान कौन?</p>
            <p><b>Chapter 5:</b>  अधिक बलवान कौन?</p>
            <p><b>Chapter 6:</b> बहुत हुआ</p>
            <p><b>Chapter 7:</b>  मेरी किताब</p>
            <p><b>Chapter 8:</b> तितली और कली</p>
            <p><b>Chapter 9:</b> बुलबुल</p>
            <p><b>Chapter 10:</b> मीठी सारंगी</p>
            <p><b>Chapter 11:</b> टेसू राजा बीच बाजार</p>
        </div>

    </div>
    
</body>
</html>