<!DOCTYPE html>
{% load static %} 
{% load bootstrap5 %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include "header.html" %}
   

    <!-- slider -->

    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100">
          <img
            src="{% static 'images/schoolim.jpeg' %}"
            class="d-block w-100"
            height="800px"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="{% static 'images/school2.jpeg' %}"
            class="d-block w-100"
            height="800px"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img
            src="{%static 'images/school3.jpeg' %}"
            class="d-block w-100"
            height="800px"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- page-2 -->
    <div id="p2" class="p-2content card bg-info text-dark h-50">
      <div class="left">
        <h1>Welcome To XYZ School</h1>
        <p>
          Springdales International Girls School is a highly respected
          educational institution located in Sitamarhi, Bihar, India. It is a
          school exclusively for girls, providing education from nursery to the
          10+2 level. The school is known for its exceptional security and
          organization, making it a safe and secure environment for young girls
          to learn and grow. With a commitment to providing high-quality
          education, the school offers a broad curriculum that covers a range of
          subjects, including languages, sciences, humanities, and arts. The
          school has experienced faculty who are passionate about teaching and
          dedicated to nurturing the potential of each student. With modern
          facilities and a focus on overall development, Springdales
          International Girls School is a great choice for parents looking for a
          secure and nurturing educational environment for their daughters.
        </p>
      </div>
      <div class="right">
        <img class="img2" src="{% static 'images/slogo.jpeg' %}" alt="" />
      </div>
    </div>

    <!-- page-3 -->
    <div class="row row-cols-1 row-cols-md-4 g-10 t-5">
      <div class="col">
        <div class="card bg-info text-dark">
          <img
            src="{% static 'images/academic.jpeg' %}"
            height="500px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Academics</h5>
            <p class="card-text">
              Powered by Advanced Science-based learning, our academic delivery
              is interdisciplinary, theme-based, and highly engaging to ensure
              active participation and learning at every stage. Advanced
              Science-based Learning, equipped with the right teaching strategy
              with innovative ideas enables every learner to absorb, think,
              create, and share knowledge.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info text-dark">
          <img
            src="{% static 'images/classroom1.jpeg' %}"
            height="500px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Infrastructure</h5>
            <p class="card-text">
              Our students learn in an ecosystem that inspires ideas and
              unleashes their creativity. With an all-inclusive approach to
              academic, physical, and mental growth, we aim to maximize their
              potential. We have well qualified & experienced educators offer a
              conducive environment to engage, encourage, motivates, inspire and
              stimulate students.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-info text-dark">
          <img
            src="{% static 'images/painting.jpeg' %}"
            height="500px"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Activities</h5>
            <p class="card-text">
              We strongly believe in extending learning experiences outside the
              classroom for the 360-degree development of our students. Multiple
              initiatives empower our students to move seamlessly from
              inspiration and exploration to immersion and skill-building, to
              goal-setting and transition and skills in new-age sports and
              performing arts.
            </p>
          </div>
        </div>
      </div>
    </div>

      {% include 'footer.html' %}
  </body>
</html>
